@page

@attribute [IgnoreAntiforgeryToken]

@model Jordnaer.Components.Account.Pages.Account.LogoutModel

<form id="logout-form" method="post" asp-page="/Account/Logout" style="display: none" aria-hidden="true">
	<input type="hidden" asp-antiforgery="true"/>
	<button type="submit" aria-hidden="true">
		 Log af
	</button>
</form>

<script>
    window.onload = function () {
        document.getElementById('logout-form').submit();
    };
</script>
