@inherits LayoutComponentBase
@layout AccountLayout

<div class="account-container" style="max-width: 1200px;">
	<div class="account-paper">
		<h1 class="account-header">Administrer din konto</h1>
		<p class="account-subheader text-center">Ændre dine kontoindstillinger</p>

		<div class="manage-layout-container">
			<div class="manage-nav-desktop">
				<ManageNavMenu />
			</div>
			<div class="manage-nav-mobile">
				<ManageNavMenu />
			</div>
			<div class="manage-content">
				@Body
			</div>
		</div>
	</div>
</div>
