@inherits LayoutComponentBase
@layout AccountLayout

<h1>Administrer din konto</h1>

<div>
	<h2>Ændre dine kontoindstillinger</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
