@page "/groups"

@inject IGroupSearchService GroupSearchService
@inject NavigationManager Navigation
@inject GroupSearchResultCache Cache
@inject ISnackbar Snackbar

@attribute [Sitemap]

<MetadataComponent Title="Grupper" Description="Søg efter grupper" />

<MudLoading @bind-Loading="_isSearching" Darken Overlap>

    <GroupSearchForm OnValidSubmit="@Search" @bind-Filter="_filter" />

    @if (!_hasSearched)
    {
        return;
    }

    @if (_searchResult.TotalCount is 0)
    {
        <MudContainer MaxWidth="MaxWidth.Small">
            <MudPaper Elevation="3" Class="pa-10 mt-5">
                <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center" Class="align-center">
                    <MudText Align="Align.Center" Typo="Typo.h6">Ingen grupper matchede søgningen.</MudText>
                </MudAlert>
            </MudPaper>
        </MudContainer>
        return;
    }

    <div class="mt-5">
        <GroupSearchResultComponent Filter="_filter" SearchResult="_searchResult"
            SelectedPageChanged="@OnSelectedPageChanged" />
    </div>

</MudLoading>

@code {

    private GroupSearchFilter _filter = new();
    private GroupSearchResult _searchResult = new();

    private bool _isSearching = false;
    private bool _hasSearched = false;

    protected override void OnInitialized()
    {
        // Restore from cache if available
        if (Cache.SearchFilter is not null && Cache.SearchResult is not null)
        {
            _filter = Cache.SearchFilter;
            _searchResult = Cache.SearchResult;
            _hasSearched = true;
        }
    }

    private async Task Search()
    {
        _isSearching = true;

        _searchResult = await GroupSearchService.GetGroupsAsync(_filter);

        Snackbar.Clear();

        if (_searchResult.TotalCount is 0)
        {
            Snackbar.Add(
            message: "Ingen grupper matchede søgningen.",
            severity: Severity.Info,
            options =>
            {
                options.VisibleStateDuration = 3500;
                options.CloseAfterNavigation = true;
            });
        }
        else
        {
            Snackbar.Add(message: $"{_searchResult.TotalCount} grupper matchede søgningen.",
            severity: Severity.Success,
            options =>
            {
                options.VisibleStateDuration = 3500;
                options.Icon = Icons.Material.Filled.ArrowDownward;
                options.CloseAfterNavigation = true;
            });
        }

        _hasSearched = true;
        _isSearching = false;

        // Save to cache for restoration when navigating back
        Cache.SearchFilter = _filter;
        Cache.SearchResult = _searchResult;
    }

    private async Task OnSelectedPageChanged(int selectedPage)
    {
        _filter.PageNumber = selectedPage;
        await Search();
    }
}