<div id="wysiwyg-editor-wrapper" style="margin-bottom: 89px; min-height: 200px;">
    <MudText Class="my-2" Typo="Typo.h6">@Label</MudText>
    @if (_useWysiwyg)
    {
        @if (_isQuillLoaded)
        {
            <TextEditor Toolbar="_toolbar" @ref="@_textEditor" Placeholder="@Placeholder">
            </TextEditor>
        }
        else
        {
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px" />
        }
    }
    else
    {
        <MudTextField @bind-Value="_textAreaContent" Placeholder="@Placeholder" Lines="10" Variant="Variant.Outlined"
            Color="Color.Info" FullWidth AutoGrow />
    }
</div>
<style>
    #wysiwyg-editor-wrapper {
        margin-bottom: 10px !important;
    }
</style>
@inject IJSRuntime JSRuntime
@inject Microsoft.FeatureManagement.IFeatureManager FeatureManager

@code {
    [Parameter]
    public required string Placeholder { get; set; }
    [Parameter]
    public required string Label { get; set; }
    [Parameter]
    public string? Text { get; set; }

    private const int LoadingDelayMillis = 1500;

    private TextEditor _textEditor = default!;
    private bool _isQuillLoaded = false;
    private bool _useWysiwyg = false;
    private string _textAreaContent = string.Empty;

    private static readonly Toolbar _toolbar = new()
    {
        ShowMathControls = false,
        ShowCodeBlockControls = false,
        ShowFontControls = false,
        ShowAlignmentControls = true,
        ShowCleanFormattingControls = true,
        ShowColorControls = true,
        ShowDirectionControls = true,
        ShowEmbedVideoControls = false,
        ShowHeaderControls = true,
        ShowHypertextLinkControls = true,
        ShowIndentationControls = true,
        ShowInsertImageControls = false,
        ShowListControls = true,
        ShowQuotationControls = true,
        ShowSizeControls = true,
        ShowStyleControls = true
    };

    protected override async Task OnInitializedAsync()
    {
        _useWysiwyg = await FeatureManager.IsEnabledAsync(FeatureFlags.WysiwygEditor);

        if (!_useWysiwyg && !string.IsNullOrEmpty(Text))
        {
            _textAreaContent = Text;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!_useWysiwyg)
        {
            return;
        }

        if (firstRender)
        {
            // Lazy load Quill dependencies
            await JSRuntime.InvokeVoidAsync("QuillLoader.ensureLoaded");
            _isQuillLoaded = true;
            StateHasChanged();
        }

        if (!firstRender || string.IsNullOrEmpty(Text))
        {
            return;
        }

        _ = Task.Run(async () =>
        {
            await Task.Delay(LoadingDelayMillis);
            await _textEditor.LoadHTMLContent(Text);
        });
    }

    public async Task<string> GetHtmlAsync()
    {
        if (!_useWysiwyg)
        {
            return string.IsNullOrWhiteSpace(_textAreaContent)
            ? string.Empty
            : _textAreaContent;
        }

        var text = await _textEditor.GetContent();
        if (text is @"text=""{\""ops\"":[{\""insert\"":\""\\n\""}]}""")
        {
            return string.Empty;
        }

        string? html;
        try
        {
            html = await _textEditor.GetHTML();
        }
        catch (Exception)
        {
            return string.Empty;
        }

        return html is null or "<p><br></p>"
        ? string.Empty
        : html;
    }
}