@page "/Account/ConfirmEmail"

@using System.Text
@using Microsoft.AspNetCore.WebUtilities

@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager

<MetadataComponent Title="Bekræft email" />

<h1>Bekræft email</h1>
<StatusMessage Message="@_statusMessage" />

@code {
    private AlertMessage? _statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? UserId { get; set; }

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || Code is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByIdAsync(UserId);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            _statusMessage = new AlertMessage("Fejl ved indlæsning af bruger med ID {UserId}", true);
        }
        else
        {
            var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
            var result = await UserManager.ConfirmEmailAsync(user, code);
            if (result.Succeeded)
            {
                _statusMessage = new AlertMessage("Tak fordi du bekræftede din email.");
            }
            else
            {
                _statusMessage = new AlertMessage("Fejl ved bekræftelse af email.", true);
            }
        }
    }
}