@page "/Account/ForgotPasswordConfirmation"

<MetadataComponent Title="Bekræftelse af glemt adgangskode"/>

<h1>Bekræftelse af glemt adgangskode</h1>
<p>
	Tjek venligst din email for at nulstille din adgangskode.
</p>