@page "/Account/ForgotPasswordConfirmation"

<MetadataComponent Title="Bekræftelse af glemt adgangskode"/>

<div class="account-container">
	<div class="account-paper">
		<h1 class="account-header">Bekræftelse af glemt adgangskode</h1>
		<p>
			Tjek venligst din email for at nulstille din adgangskode.
		</p>
	</div>
</div>