@page "/Account/InvalidUser"

<MetadataComponent Title="Ugyldig bruger" />

<div class="account-container">
	<div class="account-paper">
		<h1 class="account-header">Ugyldig bruger</h1>
		<StatusMessage />
	</div>
</div>
