@page "/Account/InvalidPasswordReset"

<MetadataComponent Title="Ugyldig nulstilling af adgangskode"/>

<div class="account-container">
	<div class="account-paper">
		<h1 class="account-header">Ugyldig nulstilling af adgangskode</h1>
		<p>
			Linket til nulstilling af adgangskoden er ugyldigt.
		</p>
	</div>
</div>