@page "/Account/InvalidPasswordReset"

@attribute [Sitemap]

<MetadataComponent Title="Ugyldig nulstilling af adgangskode"/>

<h1>Ugyldig nulstilling af adgangskode</h1>
<p>
	Linket til nulstilling af adgangskoden er ugyldigt.
</p>