@page "/Account/Lockout"

@attribute [Sitemap]

<MetadataComponent Title="Spærret"/>

<header>
	<h1 class="text-danger">Spærret</h1>
	<p class="text-danger">Denne konto er blevet spærret, prøv igen senere.</p>
</header>
