@page "/Account/Lockout"

<MetadataComponent Title="Spærret"/>

<div class="account-container">
	<div class="account-paper">
		<h1 class="account-header">Spærret</h1>
		<p class="text-danger">Denne konto er blevet spærret, prøv igen senere.</p>
	</div>
</div>
