@page "/Account/Logout"

@attribute [Authorize]

<form action="Account/Logout" method="post" id="logout-form">
	<AntiforgeryToken />
	<input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
	<button type="submit" class="nav-link">
		<span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span>
	</button>
</form>

<MudContainer MaxWidth="MaxWidth.Small">
	<MudAlert ContentAlignment="HorizontalAlignment.Center" Severity="Severity.Info">Du er nu logget ud.</MudAlert>
</MudContainer>

<script>
    window.onload = function () {
        document.getElementById('logout-form').submit();
    };
</script>

@code {
	[SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; }
}
