@page "/Account/RegisterConfirmation"

@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager

@attribute [Sitemap]

<MetadataComponent Title="Registreringsbekræftelse" />

@if (!string.IsNullOrEmpty(_statusMessage?.Message))
{
	<StatusMessage Message="@_statusMessage" />
	return;
}

<MudContainer MaxWidth="MaxWidth.Medium">
	<h2 class="font-open-sans-light">Registreringsbekræftelse</h2>

	<MudText Class="my-4">Check venligst din email for at bekræfte din konto. </MudText>
	<MudAlert Severity="Severity.Info" Class="mt-4">Husk at tjekke uønsket mail mappen.</MudAlert>
</MudContainer>

@code {
	private AlertMessage? _statusMessage;
    
	[CascadingParameter]
	private HttpContext HttpContext { get; set; } = default!;

	[SupplyParameterFromQuery]
	private string? Email { get; set; }

	[SupplyParameterFromQuery]
	private string? ReturnUrl { get; set; }

	protected override async Task OnInitializedAsync()
	{
		if (Email is null)
		{
            RedirectManager.RedirectTo(ReturnUrl ?? "");
		}

		var user = await UserManager.FindByEmailAsync(Email);
		if (user is null)
		{
			HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            _statusMessage = new AlertMessage("Fejl i at finde bruger for uspecificeret email", true);
		}
	}
}