@page "/Account/RegisterConfirmation"

@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager

<MetadataComponent Title="Registreringsbekræftelse" />

<h2 class="font-open-sans-light">Registreringsbekræftelse</h2>

<StatusMessage Message="@_statusMessage" />

<p>Check venligst din email for at bekræfte din konto. Du kan lukke denne side.</p>

@code {
	private AlertMessage? _statusMessage;
    
	[CascadingParameter]
	private HttpContext HttpContext { get; set; } = default!;

	[SupplyParameterFromQuery]
	private string? Email { get; set; }

	[SupplyParameterFromQuery]
	private string? ReturnUrl { get; set; }

	protected override async Task OnInitializedAsync()
	{
		if (Email is null)
		{
            RedirectManager.RedirectTo(ReturnUrl ?? "");
		}

		var user = await UserManager.FindByEmailAsync(Email);
		if (user is null)
		{
			HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            _statusMessage = new AlertMessage("Fejl i at finde bruger for uspecificeret email", true);
		}
	}
}