@page "/Account/RegisterConfirmation"

@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager

<MetadataComponent Title="Registreringsbekræftelse" />

@if (!string.IsNullOrEmpty(_statusMessage?.Message))
{
	<StatusMessage Message="@_statusMessage" />
	return;
}

<div class="account-container">
	<div class="account-paper">
		<h1 class="account-header">Registrerings bekræftelse</h1>
		<p>Check venligst din email for at bekræfte din konto.</p>
		<div class="alert alert-info">Husk at tjekke spam/uønsket mail.</div>
	</div>
</div>

@code {
	private AlertMessage? _statusMessage;

	[CascadingParameter]
	private HttpContext HttpContext { get; set; } = default!;

	[SupplyParameterFromQuery]
	private string? Email { get; set; }

	[SupplyParameterFromQuery]
	private string? ReturnUrl { get; set; }

	protected override async Task OnInitializedAsync()
	{
		if (Email is null)
		{
			RedirectManager.RedirectTo(ReturnUrl ?? "");
		}

		var user = await UserManager.FindByEmailAsync(Email);
		if (user is null)
		{
			HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
			_statusMessage = new AlertMessage("Fejl i at finde bruger for uspecificeret email", true);
		}
	}
}