@page "/Account/ResetPasswordConfirmation"
<MetadataComponent Title="Bekræftelse af nulstilling af adgangskode"/>

@attribute [Sitemap]

<div class="account-container">
	<div class="account-paper">
		<h1 class="account-header">Bekræftelse af nulstilling af adgangskode</h1>
		<p>
			Din adgangskode er blevet nulstillet. <a href="Account/Login" class="account-link">Klik her for at logge ind</a>.
		</p>
	</div>
</div>