@page "/Account/ResetPasswordConfirmation"
<MetadataComponent Title="Bekræftelse af nulstilling af adgangskode"/>

@attribute [Sitemap]

<h1>Bekræftelse af nulstilling af adgangskode</h1>
<p>
	Din adgangskode er blevet nulstillet. <a href="Account/Login">Klik her for at logge ind</a>.
</p>