<div id="fullscreen-loader">
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <img src="images/minimoeder_logo_payoff.png" alt="Mini Møder Logo" style="max-width: 100%;" />
    </div>
</div>
