@page "/about"

@inherits ScrollToTopComponentBase

<MetadataComponent Title="Om" Description="Hvad er Mini Møder?" />

<MudContainer MaxWidth="MaxWidth.Small" Class="text-center">
    <MudPaper Elevation="3" Class="pa-10 mt-5" Style="@JordnaerPalette.WarmWhite.ToBackgroundColor()">

        <h1 class="font-cherry-bomb-one" style="@JordnaerPalette.BlueBody.ToTextColor()">Hvad er </h1>
        <img alt="Mini Møder Logo" src="images/minimoeder_logo_u_bier.png" height="160" style="margin-top: -30px" />

        <MudText Typo="Typo.body1">
            Mini Møder er en hjemmeside til os, der ønsker at skabe nye relationer med andre børnefamilier.
        </MudText>

        <MudText Typo="Typo.body1" Class="mt-6">
            Siden er skabt med særligt henblik på at hjælpe legegrupper,
            hjemmegrupper og hjemmeskoler med at blive dannet og gro.
        </MudText>

        <MudText Typo="Typo.body1" Class="mt-6">
            Vi vil gøre det nemmere for børn at finde nye venner.
        </MudText>

        <MiniDivider Color="MiniDividerColor.Green" Class="mt-8 mb-3" Center />

         <h2 class="font-open-sans-medium mt-6 mb-2" style="@JordnaerPalette.RedHeader.ToTextColor()">
             Hvorfor har vi skabt Mini Møder?
         </h2>

         <MudText Typo="Typo.body1" Class="mt-6">
             Vi har lavet Mini Møder fordi vi selv har manglet en konkret platform til at lede
             efter legegrupper til vores børn.
         </MudText>

         <MudText Typo="Typo.body1" Class="mt-3">
             Da vi hjemmepassede vores børn, fandt vi det utrolig besværligt og kompliceret at
             finde en fast gruppe af børn og voksne,
             som vi kunne ses med jævnligt og skabe minder sammen med.
         </MudText>

         <MudText Typo="Typo.body1" Class="mt-6">
             Vi har et dybt ønske om, at Mini Møder kan blive en grobund for tætte relationer,
             gode venner og stærke forbindelser. Tryghed og tillid er efter vores mening afgørende
             for børns velbefindende og trivsel.
         </MudText>

         <MudText Typo="Typo.body1" Class="mt-3">
             Børnenes primære omsorgspersoner, tætte relationer og stærke fællesskaber kan støtte
             barnets sundhed og trivsel, og Mini Møder kan hjælpe med at finde disse fællesskaber,
             hvor børnenes præmisser er i højsædet.
         </MudText>

         <Bees Class="mt-8" Center />

     </MudPaper>
 </MudContainer>