@page "/contact"
@inject IEmailService EmailService
@inject ISnackbar Snackbar

@inherits ScrollToTopComponentBase

<MetadataComponent Title="Kontakt"
                   Description="Kontakt Mini Møder her" />

<MudLoading @bind-Loading="_isSending" Darken Overlap>
    <MudContainer MaxWidth="MaxWidth.Small">
        <MudPaper Elevation="3" Class="pa-10 mt-5" Style="@JordnaerPalette.WarmWhite.ToBackgroundColor()">

		<h1 class="font-cherry-bomb-one" style="@JordnaerPalette.BlueBody.ToTextColor()">Kontakt os</h1>

		<MudDivider Class="mt-1 mb-5"/>

		<MudText Typo="Typo.body1">
			Har du spørgsmål, kommentarer eller forslag? Så skriv endelig!
		</MudText>
		<MudText Typo="Typo.body1" Class="my-3">
			Udfyld formularen nedenfor, og vi vil vende tilbage til dig så hurtigt som muligt.
		</MudText>

		<EditForm Model="_contactForm" OnValidSubmit="SubmitForm">
			<DataAnnotationsValidator/>

			<MudTextField AutoFocus
							Label="Navn"
							@bind-Value="_contactForm.Name"
							For="() => _contactForm.Name"
							FullWidth
							Class="my-3"
							name="name"/>

			<MudTextField Label="Email"
							@bind-Value="_contactForm.Email"
							For="() => _contactForm.Email"
							FullWidth
							Class="my-3"
							name="reg_email__"/>

			<MudTextField Label="Besked"
							@bind-Value="_contactForm.Message"
							For="() => _contactForm.Message"
							FullWidth
							AutoGrow
							Class="my-3"/>

			<MudButton FullWidth
			           Variant="Variant.Filled"
			           StartIcon="@Icons.Material.Filled.Send"
			           Class="mt-3 rounded-pill"
			           Style="@($"{JordnaerPalette.BlueBody.ToBackgroundColor()}; color: white; font-weight: bold;")"
			           ButtonType="ButtonType.Submit"
			           Disabled="_isSending">
				Send
			</MudButton>
		</EditForm>

		<Bees Class="mt-8" Center />
	</MudPaper>
    </MudContainer>
</MudLoading>

@code {
    private ContactForm _contactForm = new();
    private bool _isSending = false;

    private async Task SubmitForm()
    {
        _isSending = true;

        StateHasChanged();

        try
        {
            await EmailService.SendEmailFromContactForm(_contactForm);
            await Task.Delay(1500);

            Snackbar.Add("Din besked er blevet sendt afsted og vil blive besvaret hurtigst muligt.",
                Severity.Success,
                options => options.VisibleStateDuration = 5000);

            _contactForm = new ContactForm();
        }
        catch (Exception)
        {
            Snackbar.Add("Der opstod en fejl. Prøv venligst igen.",
                Severity.Error,
                options => options.VisibleStateDuration = 5000);
        }
        finally
        {
            _isSending = false;
        }
    }
}