@page "/operation"

@inherits ScrollToTopComponentBase

<MetadataComponent Title="Drift" Description="Hvordan Mini M칮der drives, udvikles og vedligeholdes." />

<MudContainer MaxWidth="MaxWidth.Medium">
	<MudPaper Elevation="3" Class="pa-10 mt-5" Style="@JordnaerPalette.WarmWhite.ToBackgroundColor()">

		<h1 class="font-cherry-bomb-one text-center" style="@JordnaerPalette.BlueBody.ToTextColor()">
			Drift
		</h1>

		<MudDivider Class="mt-1 mb-5" />

		<MudText Typo="Typo.body1">
			Mini M칮der er lavet af mig, Niels 游둟 med st칮tte og input fra min kone Josefine.
		</MudText>
		<MudText Typo="Typo.body1" Class="mt-3">
			Jeg bygger Mini M칮der i min fritid, oftest om aftenen n친r vi har puttet ungerne.
		</MudText>
		<MudText Typo="Typo.body1" Class="mt-3">
			Jeg st친r for udvikling, drift og vedligeholdelse af hele molevitten.
		</MudText>

		<MudText Typo="Typo.body1" Class="mt-5">
			Det er ikke helt gratis at drive Mini M칮der.
			Hvis du vil st칮tte op om Mini M칮der, er vi 친bne over for donationer og partnerskaber.
		</MudText>

		<MudText Typo="Typo.body1" Class="mt-3">
			Du kan komme i kontakt med os gennem vores <MudLink Href="/contact">kontaktformular</MudLink>.
		</MudText>

		<MiniDivider Color="MiniDividerColor.Green" Class="my-8" Center />

		<MudText Typo="Typo.h5" Style="@JordnaerPalette.RedHeader.ToTextColor()">Virksomhedsoplysninger</MudText>
		<MudText Typo="Typo.body1" Class="mt-3">
			Mini M칮der drives af:<br /><br />
			<strong>
				<MudLink Target="_blank" rel="noreferrer"
					Href="https://www.proff.dk/firma/pilgaard-development/ryomg%C3%A5rd/dataprogramvare-og-udvikling/0OK451I009O">
					Pilgaard Development
				</MudLink>
			</strong><br />
			Nordlyvej 20<br />
			8550 Ryomg친rd<br />
			Tlf: <MudLink Href="tel:+4529917126">+45 29 91 71 26</MudLink>
		</MudText>

		<Bees Class="mt-8" Center />

	</MudPaper>
</MudContainer>