@page "/operation"

<MetadataComponent Title="Drift"
                   Description="Hvordan Mini M칮der drives, udvikles og vedligeholdes." />

<MudContainer MaxWidth="MaxWidth.Medium">
	<MudPaper Elevation="3" Class="pa-10 mt-5" Style="@JordnaerPalette.PaleBlueBackgroundStyle">

		<h1 class="font-open-sans-bold text-center" style="@JordnaerPalette.RedHeaderTextStyle">
			Drift
		</h1>

		<MudDivider Class="mt-1 mb-5"/>

		<MudStack Row>
			<MudStack>
				<MudText Class="mt-1">Mini M칮der er lavet af mig, Niels 游둟 med st칮tte og input fra min kone Josefine.</MudText>
				<MudText Class="mt-1">Jeg bygger Mini M칮der i min fritid, oftest om aftenen n친r mine to unger er puttet.</MudText>
				<MudText Class="mt-1">Jeg st친r for udvikling, drift og vedligeholdelse af hele molevitten.</MudText>
			</MudStack>
			<MudImage Class="d-none d-sm-flex" Style="border-radius: 15px" Src="https://jordnaer.blob.core.windows.net/userprofile-pictures/d8132467-293e-4510-a1e0-ee7aad6aad73"/>
		</MudStack>



		<MudText Class="mt-5">Det er desv칝rre ikke helt gratis at drive Mini M칮der - Hvis du vil st칮tte op om Mini M칮der tager vi imod donationer og sponsoraftaler med kysh친nd 游땏</MudText>

		<MudText Class="mt-5">Du kan komme i kontakt med os gennem vores <MudLink Href="/contact">kontaktformular</MudLink>.</MudText>

		<MiniDivider Color="MiniDividerColor.Yellow" Center Class="my-8"/>

		<MudText>
			Af juridiske 친rsager ejer jeg Mini M칮der gennem min enkeltmandsvirksomhed:<br/>
			<MudLink Target="_blank" rel="noreferrer"
			         Href="https://www.proff.dk/firma/pilgaard-development/ryomg%C3%A5rd/dataprogramvare-og-udvikling/0OK451I009O">
				Pilgaard Development<br/>
				Nordlyvej 20, Ryomg친rd 8550<br/>
				+4529917126
			</MudLink>.
		</MudText>

	</MudPaper>
</MudContainer>