@page "/sponsors"

@inherits ScrollToTopComponentBase

<MetadataComponent Title="Sponsorer"
                   Description="Mini Møder's sponsorer" />

<MudContainer MaxWidth="MaxWidth.Large">
    <MudPaper Elevation="3" Class="pa-10 mt-5 text-center" Style="@JordnaerPalette.WarmWhite.ToBackgroundColor()">

        <h1 class="font-cherry-bomb-one" style="@JordnaerPalette.BlueBody.ToTextColor()">
            Vore Sponsorer
        </h1>

        <MudDivider Class="mt-1 mb-5" />

        <MudGrid Justify="Justify.SpaceEvenly">
            @foreach (var sponsor in _sponsors)
            {
                <SponsorCard Sponsor="sponsor" />
            }
        </MudGrid>

        <MiniDivider Color="MiniDividerColor.Green" Class="my-10" />

        <h2 class="font-cherry-bomb-one text-center mt-5 mb-5" style="@JordnaerPalette.RedHeader.ToTextColor()">
            Bliv Sponsor
        </h2>

        <MudText Typo="Typo.body1">
	        At være sponsor af Mini Møder giver en unik mulighed for at støtte vores arbejde 
	        og samtidig opnå synlighed for dit brand.
        </MudText>
        <MudText Typo="Typo.body1" Class="mt-3">
            Hvis du er interesseret i at høre mere om mulighederne for at blive sponsor,
            er du meget velkommen til at kontakte os gennem vores <MudLink Href="/contact">kontaktformular</MudLink>.
        </MudText>

        <Bees Class="mt-8" Center />
    </MudPaper>
</MudContainer>

@code {

    private static readonly List<Sponsor> _sponsors =
    [
        new Sponsor
        {
            Name = string.Empty,
            Description = "Moon Creative laver illustrationer og grafisk design til iværksættere og virksomheder, der ønsker at skabe forandring i mennesker",
            LogoUrl = "https://usercontent.one/wp/www.mooncreative.dk/wp-content/uploads/2022/04/Logo_mooncreative_long-2-e1649063478985.png",
            Link = "https://www.mooncreative.dk/"
        },
    new Sponsor
        {
            Name = string.Empty,
            Description = "Microsoft for Startups samler mennesker, viden og teknologi for at hjælpe iværksættere på alle stadier med at løse udfordringer i startfasen.",
            LogoUrl = "https://i.ibb.co/v4Q7pkQ/startups-wordmark-purple.png",
            Link = "https://www.microsoft.com/en-us/startups"
        },
    new Sponsor
        {
            Name = string.Empty,
            Description = "Tak til elmah.io for deres støtte! Deres fejlhåndteringsværktøj hjælper med at sikre en problemfri brugeroplevelse i vores applikationer.",
            LogoUrl = "https://jordnaer.blob.core.windows.net/sponsor-images/elmahio-wide-logo-highquality.png",
            Link = "https://elmah.io/"
        }
    ];

}
