@page "/Account/Manage/DeletePersonalData"

@attribute [Sitemap]

<MetadataComponent Title="Slet bruger" />

<h2 class="manage-page-title">Slet bruger</h2>

<StatusMessage />

<div style="max-width: 600px;">
	<MudText Typo="Typo.body1" Class="mb-4">
		<strong>Når du sletter din bruger, vil din konto blive permanent fjernet, og dette kan ikke fortrydes.</strong>
	</MudText>

	<MudButton StartIcon="@Icons.Material.Filled.Warning" Size="Size.Large" Href="/InitializeDeleteUser"
		Color="Color.Error" Variant="Variant.Outlined">
		Slet Bruger
	</MudButton>
</div>