@page "/Account/Manage/Disable2fa"

@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<Disable2fa> Logger

<PageTitle>Deaktiver to-faktor-autentificering (2FA)</PageTitle>

<StatusMessage />
<h3>Deaktiver to-faktor-autentificering (2FA)</h3>

<div class="alert alert-warning" role="alert">
	<p>
		<strong>Denne handling deaktiverer kun 2FA.</strong>
	</p>
	<p>
		At deaktivere 2FA ændrer ikke de nøgler, der bruges i autentificeringsapps. Hvis du ønsker at ændre nøglen
		brugt i en autentificeringsapp, bør du <a href="Account/Manage/ResetAuthenticator">nulstille dine autentificeringsnøgler.</a>
	</p>
</div>

<div>
	<form @formname="disable-2fa" @onsubmit="OnSubmitAsync" method="post">
		<AntiforgeryToken />
		<button class="btn btn-danger" type="submit">Deaktiver 2FA</button>
	</form>
</div>


@code {
    private ApplicationUser _user = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        if (HttpMethods.IsGet(HttpContext.Request.Method) && !await UserManager.GetTwoFactorEnabledAsync(_user))
        {
            throw new InvalidOperationException("Cannot disable 2FA for user as it's not currently enabled.");
        }
    }

    private async Task OnSubmitAsync()
    {
        var disable2FaResult = await UserManager.SetTwoFactorEnabledAsync(_user, false);
        if (!disable2FaResult.Succeeded)
        {
            throw new InvalidOperationException("Unexpected error occurred disabling 2FA.");
        }

        var userId = await UserManager.GetUserIdAsync(_user);
        Logger.LogInformation("User with ID '{UserId}' has disabled 2fa.", userId);
        RedirectManager.RedirectToWithStatus(
            "Account/Manage/TwoFactorAuthentication",
            "Multi-faktor autentificering er blevet deaktiveret. Du kan genaktivere 2FA, når du opsætter en autentifikations-app.",
            HttpContext);
    }
}
