@page "/Account/Manage/Email"
@using System.Text
@using Microsoft.AspNetCore.WebUtilities

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject IdentityUserAccessor UserAccessor
@inject NavigationManager NavigationManager

@attribute [Sitemap]

<MetadataComponent Title="Håndter email" />

<h2 class="manage-page-title">Håndter email</h2>
<p class="manage-page-description">Skift din email adresse</p>

<StatusMessage Message="@_message" />

<form @onsubmit="OnSendEmailVerificationAsync" @formname="send-verification" id="send-verification-form" method="post">
    <AntiforgeryToken />
</form>

<EditForm Model="Input" FormName="change-email" OnValidSubmit="OnValidSubmitAsync" method="post" class="account-form" style="max-width: 600px;">
    <DataAnnotationsValidator />
    <ValidationSummary class="validation-message" role="alert" />

    @if (_isEmailConfirmed)
    {
        <div class="form-floating input-group">
            <input type="text" value="@_email" class="form-control" placeholder="Indtast venligst din email." disabled />
            <div class="input-group-append">
                <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
            </div>
            <label for="email" class="form-label">Email</label>
        </div>
    }
    else
    {
        <div class="form-floating">
            <input type="text" value="@_email" class="form-control" placeholder="Indtast venligst din email." disabled />
            <label for="email" class="form-label">Email</label>
            <button type="submit" class="account-link" form="send-verification-form">Send bekræftelses email</button>
        </div>
    }

    <div class="form-floating">
        <InputText @bind-Value="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Indtast venligst ny email." autofocus />
        <label for="new-email" class="form-label">Ny email</label>
        <ValidationMessage For="() => Input.NewEmail" class="validation-message" />
    </div>

    <button type="submit" class="account-button-primary">Skift email</button>
</EditForm>


@code {
    private AlertMessage? _message;
    private ApplicationUser _user = default!;
    private string? _email;
    private bool _isEmailConfirmed;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm(FormName = "change-email")]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        _email = await UserManager.GetEmailAsync(_user);
        _isEmailConfirmed = await UserManager.IsEmailConfirmedAsync(_user);

        Input.NewEmail ??= _email;
    }

    private async Task OnValidSubmitAsync()
    {
        if (Input.NewEmail is null || Input.NewEmail == _email)
        {
            _message = new AlertMessage("Din email er uændret.", true);
            return;
        }

        var userId = await UserManager.GetUserIdAsync(_user);
        var code = await UserManager.GenerateChangeEmailTokenAsync(_user, Input.NewEmail);
        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
        var callbackUrl = NavigationManager.GetUriWithQueryParameters(
            NavigationManager.ToAbsoluteUri("Account/ConfirmEmailChange").AbsoluteUri,
            new Dictionary<string, object?> { ["userId"] = userId, ["email"] = Input.NewEmail, ["code"] = code });

        await EmailSender.SendConfirmationLinkAsync(_user, Input.NewEmail, callbackUrl);

        _message = new AlertMessage("Bekræftelses email er sendt. Tjek venligst din email.");
    }

    private async Task OnSendEmailVerificationAsync()
    {
        if (_email is null)
        {
            return;
        }

        var userId = await UserManager.GetUserIdAsync(_user);
        var code = await UserManager.GenerateEmailConfirmationTokenAsync(_user);
        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
        var callbackUrl = NavigationManager.GetUriWithQueryParameters(
            NavigationManager.ToAbsoluteUri("Account/ConfirmEmail").AbsoluteUri,
            new Dictionary<string, object?> { ["userId"] = userId, ["code"] = code });

        await EmailSender.SendConfirmationLinkAsync(_user, _email, callbackUrl);

        _message = new AlertMessage("Bekræftelses email er sendt. Tjek venligst din email.");
    }

    private sealed class InputModel
    {
        [Required(ErrorMessage = "Påkrævet.")]
        [EmailAddress(ErrorMessage = "Email skal være gyldig.")]
        [Display(Name = "Ny email")]
        public string? NewEmail { get; set; }
    }
}
