@page "/Account/Manage/EnableAuthenticator"
@using System.Text
@using System.Text.Encodings.Web

@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor
@inject UrlEncoder UrlEncoder
@inject IdentityRedirectManager RedirectManager
@inject ILogger<EnableAuthenticator> Logger

@attribute [Sitemap]

<MetadataComponent Title="Konfigurer autentificerings-app"/>

@if (_recoveryCodes is not null)
{
    <ShowRecoveryCodes RecoveryCodes="_recoveryCodes.ToArray()" StatusMessage="@_message" />
}
else
{
    <h2 class="manage-page-title">Konfigurer autentificeringsapp</h2>
    <p class="manage-page-description">Opsæt to-faktor-autentificering med en autentificeringsapp</p>

    <StatusMessage Message="@_message" />

    <div>
        <p>For at bruge en autentificeringsapp, følg følgende trin:</p>
        <ol class="list">
            <li>
                <p>
                    Download en To-faktor-autentificeringsapp som Microsoft Authenticator til
                    <a href="https://go.microsoft.com/fwlink/?Linkid=825072" class="account-link">Android</a> og
                    <a href="https://go.microsoft.com/fwlink/?Linkid=825073" class="account-link">iOS</a> eller
                    Google Authenticator til
                    <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en" class="account-link">Android</a> og
                    <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8" class="account-link">iOS</a>.
                </p>
            </li>
            <li>
                <p>Scan QR-koden eller indtast denne nøgle <kbd>@_sharedKey</kbd> i din To-faktor-autentificeringsapp. Mellemrum og store/små bogstaver betyder ikke noget.</p>
                <div class="alert alert-info">Lær hvordan du <a href="https://go.microsoft.com/fwlink/?Linkid=852423" class="account-link">aktiverer QR-kodegenerering</a>.</div>
                <div></div>
                <div data-url="@_authenticatorUri"></div>
            </li>
            <li>
                <p>
                    Når du har scannet QR-koden eller indtastet nøglen ovenfor, vil din To-faktor-autentificeringsapp give dig
                    en unik kode. Indtast koden i bekræftelsesboksen nedenfor.
                </p>

                <EditForm Model="Input" FormName="send-code" OnValidSubmit="OnValidSubmitAsync" method="post" class="account-form" style="max-width: 600px;">
                    <DataAnnotationsValidator />

                    <div class="form-floating">
                        <InputText @bind-Value="Input.Code" class="form-control" autocomplete="off"
                                   placeholder="Indtast venligst koden." autofocus />
                        <label for="code" class="control-label form-label">Verifikationskode</label>
                        <ValidationMessage For="() => Input.Code" class="validation-message" />
                    </div>

                    <button type="submit" class="account-button-primary">Bekræft</button>
                    <ValidationSummary class="validation-message" role="alert" />
                </EditForm>
            </li>
        </ol>
    </div>
}

@code {
    private const string AuthenticatorUriFormat = "otpauth://totp/{0}:{1}?secret={2}&issuer={0}&digits=6";

    private AlertMessage? _message;
    private ApplicationUser _user = default!;
    private string? _sharedKey;
    private string? _authenticatorUri;
    private IEnumerable<string>? _recoveryCodes;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        await LoadSharedKeyAndQrCodeUriAsync(_user);
    }

    private async Task OnValidSubmitAsync()
    {
        // Strip spaces and hyphens
        var verificationCode = Input.Code.Replace(" ", string.Empty).Replace("-", string.Empty);

        var is2FaTokenValid = await UserManager.VerifyTwoFactorTokenAsync(
            _user, UserManager.Options.Tokens.AuthenticatorTokenProvider, verificationCode);

        if (!is2FaTokenValid)
        {
            _message = new AlertMessage("Din verifikationskode er ugyldig.", true);
            return;
        }

        await UserManager.SetTwoFactorEnabledAsync(_user, true);
        var userId = await UserManager.GetUserIdAsync(_user);
        Logger.LogInformation("User with ID '{UserId}' has enabled 2FA with an authenticator app.", userId);

        _message = new AlertMessage("Din autentifikations app er blevet godkendt.");

        if (await UserManager.CountRecoveryCodesAsync(_user) == 0)
        {
            _recoveryCodes = await UserManager.GenerateNewTwoFactorRecoveryCodesAsync(_user, 10);
        }
        else
        {
            RedirectManager.RedirectToWithStatus("Account/Manage/TwoFactorAuthentication", _message, HttpContext);
        }
    }

    private async ValueTask LoadSharedKeyAndQrCodeUriAsync(ApplicationUser user)
    {
        // Load the authenticator key & QR code URI to display on the form
        var unformattedKey = await UserManager.GetAuthenticatorKeyAsync(user);
        if (string.IsNullOrEmpty(unformattedKey))
        {
            await UserManager.ResetAuthenticatorKeyAsync(user);
            unformattedKey = await UserManager.GetAuthenticatorKeyAsync(user);
        }

        _sharedKey = FormatKey(unformattedKey!);

        var email = await UserManager.GetEmailAsync(user);
        _authenticatorUri = GenerateQrCodeUri(email!, unformattedKey!);
    }

    private static string FormatKey(string unformattedKey)
    {
        var result = new StringBuilder();
        var currentPosition = 0;
        while (currentPosition + 4 < unformattedKey.Length)
        {
            result.Append(unformattedKey.AsSpan(currentPosition, 4)).Append(' ');
            currentPosition += 4;
        }
        if (currentPosition < unformattedKey.Length)
        {
            result.Append(unformattedKey.AsSpan(currentPosition));
        }

        return result.ToString().ToLowerInvariant();
    }

    private string GenerateQrCodeUri(string email, string unformattedKey)
    {
        return string.Format(
            CultureInfo.InvariantCulture,
            AuthenticatorUriFormat,
            UrlEncoder.Encode("Microsoft.AspNetCore.Identity.UI"),
            UrlEncoder.Encode(email),
            unformattedKey);
    }

    private sealed class InputModel
    {
        [Required(ErrorMessage = "Påkrævet.")]
        [StringLength(7, ErrorMessage = "Din {0} skal være mindst {2} og højest {1} karakterer lang.", MinimumLength = 6)]
        [DataType(DataType.Text)]
        [Display(Name = "Bekræftelseskode")]
        public string Code { get; set; } = "";
    }
}
