@page "/Account/Manage/PersonalData"

@inject IdentityUserAccessor UserAccessor

@attribute [Sitemap]

<MetadataComponent Title="Personlige Data"/>

<StatusMessage />
<h3>Personlige Data</h3>

<div class="row">
	<div class="col-md-6">
		<p>Din konto indeholder personlige data, som du har givet os. Denne side giver dig mulighed for at downloade eller slette disse data.</p>
		<p>
			<strong>At slette disse data vil permanent fjerne din konto, og dette kan ikke fortrydes.</strong>
		</p>
		<form action="Account/Manage/DownloadPersonalData" method="post">
			<AntiforgeryToken />
			<button class="btn btn-primary" type="submit">Download</button>
		</form>
		<p>
			<a href="Account/Manage/DeletePersonalData" class="btn btn-danger">Slet</a>
		</p>
	</div>
</div>


@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
