<!DOCTYPE html>
<html lang="da">

<head>
    <PageTitle>Mini Møder</PageTitle>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="description" content="Et online mødested for børnefamilier" />
    <meta name="tags" content="trivsel, netværk, børnefamilie, legegruppe, legestue, hjemmeskole, unschooling, børn, forældre" />

    <base href="/" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#878e64">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta name="og:title" content="Mini Møder" />
    <meta name="og:site_name" content="Mini Møder" />
    <meta name="og:description" content="Et online mødested for børnefamilier" />
    <meta name="og:image" content="images/minimoeder_logo_payoff.png" />

    <meta name="google-site-verification" content="_2XlYiQaPnb6j4QvZhJPB-XwnnQKOkpzs_hmU3EHY8g" />

    <link href="css/landing-page.css?v=1.1" rel="stylesheet" />
    <link href="css/fonts.css?v=1.0" rel="stylesheet" />
    <link href="css/app.css?v=1.1" rel="stylesheet" />
    <link defer href="bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link defer href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link defer href="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.css" rel="stylesheet" />
    <link defer href="css/chat.css?v=1.2" rel="stylesheet" />
    <link defer href="Jordnaer.styles.css" rel="stylesheet" />

    <HeadOutlet @rendermode="RenderModeForPage" />

    <script>
        (function () {
            const script = document.createElement("script");

            // Initialize the Web-SDK at the onLoad event of the script tag above so it will be called when the library is loaded.
            script.onload = () => {
                window.GrafanaFaroWebSdk.initializeFaro({
                    // Mandatory, the URL of the Grafana Cloud collector with embedded application key.
                    url: 'https://faro-collector-prod-eu-west-2.grafana.net/collect/bd7c8e7f952b79cf8fcebea0f94ea33a',

                    // Mandatory, the identification label(s) of your application
                    app: {
                        name: 'Mini Møder',
                        version: "1.0.0"
                    }
                });
            };

            // Set the source of the script tag to the CDN
            script.src =
                "https://unpkg.com/@@grafana/faro-web-sdk@@^1.4.0/dist/bundle/faro-web-sdk.iife.js";

            // Append the script tag to the head of the HTML page
            document.head.appendChild(script);
        })();
    </script>
</head>

<body>
    @*TODO: Add loading image*@
    <Routes @rendermode="RenderModeForPage" />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/scroll.js?v=1.0"></script>
    <script src="js/utilities.js?v=1.0"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.js"></script>
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.StartsWithSegments("/Account")
        ? null
        : InteractiveServer;
}