<!DOCTYPE html>
<html lang="da">

<head>
    <PageTitle>Mini Møder</PageTitle>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="description" content="Et online mødested for børnefamilier" />
    <meta name="tags" content="trivsel, netværk, børnefamilie, legegruppe, legestue, hjemmeskole, unschooling, børn, forældre" />

    <base href="/" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#878e64">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta name="og:title" content="Mini Møder" />
    <meta name="og:site_name" content="Mini Møder" />
    <meta name="og:description" content="Et online mødested for børnefamilier" />
    <meta name="og:image" content="images/minimoeder_logo_payoff.png" />

    <meta name="google-site-verification" content="_2XlYiQaPnb6j4QvZhJPB-XwnnQKOkpzs_hmU3EHY8g" />
    <meta name="facebook-domain-verification" content="ispr6bue0cvuoatohe859eubl32ujh" />

    <link preload="true" href="css/landing-page.css" rel="stylesheet" asp-append-version="true" />
    <link preload="true" href="css/fonts.css" rel="stylesheet" asp-append-version="true" />
    <link preload="true" href="css/app.css" rel="stylesheet" asp-append-version="true" />
    
    @*Expirament*@
    <link rel="preload" href="bootstrap/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" asp-append-version="true">

    <link rel="preload" href="_content/MudBlazor/MudBlazor.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" asp-append-version="true">

    <link preload="true" href="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.css" rel="stylesheet" asp-append-version="true" />
    <link preload="true" href="css/chat.css" rel="stylesheet" asp-append-version="true" />
    <link preload="true" href="Jordnaer.styles.css" rel="stylesheet" asp-append-version="true" />

    <HeadOutlet @rendermode="RenderModeForPage" />

    @*<GrafanaFaro />*@
</head>

<body>
    @*TODO: Add loading image*@
    <Routes @rendermode="RenderModeForPage" />

    @*
        Start and reconnection logic based on: 
		https://learn.microsoft.com/en-us/aspnet/core/blazor/fundamentals/signalr?view=aspnetcore-7.0#automatically-refresh-the-page-when-server-side-reconnection-fails
    *@
    <div id="reconnect-modal" style="display: none;"></div>
    <script src="_framework/blazor.web.js" autostart="false" asp-append-version="true"></script>
    <script src="js/boot.js" asp-append-version="true"></script>

    <script src="js/scroll.js" asp-append-version="true"></script>
    <script src="js/utilities.js" asp-append-version="true"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js" asp-append-version="true"></script>
    <script src="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.js" asp-append-version="true"></script>
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.StartsWithSegments("/Account") ||
                                                       HttpContext.Request.Path == PathString.Empty
        ? null
        : InteractiveServer;
}