<footer class="footer mud-elevation-5 d-flex flex-row justify-center mt-15">
    <div class="d-flex py-3">
        <div class="px-sm-10 px-md-12 px-lg-14">
            <MudNavLink Href="/about">Om</MudNavLink>
            <MudNavLink Href="/privacy">Privatlivspolitik</MudNavLink>
            <MudNavLink Href="/terms">Servicevilkår</MudNavLink>
        </div>
        <div class="px-sm-10 px-md-12 px-lg-14">
            <MudNavLink Href="/contact">Kontakt</MudNavLink>
            <MudNavLink Href="/sponsors">Sponsorer</MudNavLink>
            <MudNavLink Href="/opeartion">Drift</MudNavLink>
        </div>
    </div>
</footer>
