@page "/user-deleted"

@attribute [Sitemap]

<MetadataComponent Title="Slet bruger"
                   Description="Denne side vises efter at man successfuldt har slettet sin bruger." />

<div class="d-flex justify-center">
    <MudPaper Elevation="3" Class="pa-8 mt-5" Style="text-align: center;">
        <MudText Typo="Typo.body1" Class="font-open-sans-bold">
            Din bruger er nu slettet.
        </MudText>
        <MudText Typo="Typo.body1" Class="mt-3">
            Vi takker for denne gang, og håber at du fik nogle gode oplevelser ud af Mini Møder.
        </MudText>
    </MudPaper>
</div>