@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated is not true)
                    {
                        NavigationManager.NavigateToLogin("/auth/login");
                    }
                    else
                    {
                        <p role="alert">Du har ikke adgang.</p>
                    }
                </NotAuthorized>
                <Authorizing>
                    <MudLoading Loading="true" />
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <NotFoundComponent />
        </NotFound>
    </Router>
</CascadingAuthenticationState>
