.hero-navbar-underline .mud-nav-link .mud-nav-link-text {
    white-space: nowrap;
    border-bottom: 2px solid #dbab45;
}

.hero-section-top {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--mud-palette-background-grey-lighten);
    padding: 10px 2px 0 0;
}
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--mud-palette-background-grey-lighten);
    padding: 30px 0;
}

@media (min-width: 768px) { 
    .hero-section {
        height: 500px;
        padding: 30px 0;
    }
    .hero-section-top {
        padding: 10px 10px 0 0;
    }
}

.content-section {
    padding: 20px;
}

.custom-list {
    list-style: disc;
    margin-left: 40px;
    line-height: 2;
}


#landing-page-center-image {
    height: 200px;
}
@media (max-width: 300px) { 
    #landing-page-center-image {
        height: 150px;
    }
}   
@media (min-width: 400px) { 
    #landing-page-center-image {
        height: 200px;
    }
}
@media (min-width: 600px) {
    #landing-page-center-image {
        height: 250px;
    }
}   

@media (min-width: 800px) { 
    #landing-page-center-image {
        height: 300px;
    }
}

@media (min-width: 1200px) { 
    #landing-page-center-image {
        height: 350px;
    }
}
@media (min-width: 1400px) { 
    #landing-page-center-image {
        height: 400px;
    }
}
@media (min-width: 1600px) { 
    #landing-page-center-image {
        height: 600px;
    }
}
@media (min-width: 1800px) { 
    #landing-page-center-image {
        height: 700px;
    }
}
@media (min-width: 2000px) {
    #landing-page-center-image {
        height: 800px;
    }
}
