@page "/first-login"
<h3>Velkommen til Mini Møder!</h3>
<h3>Færdiggør Profil</h3>
<h3>Find dit næste mini møde (søg brugere)</h3>
<h3>Gå på opdagelse i grupper</h3>
<h3>Se opslag</h3>

@code {

}
