@page "/{userName}"

<h1>@UserName</h1>
@code
{
    [Parameter]
    public string UserName { get; set; } = null!;

  protected override Task OnInitializedAsync()
    {

        return Task.CompletedTask;
    }
}
