@page "/terms"

<MetadataComponent Title="Jordnær - Servicevilkår"
                   Description="Servicevilkår for Fællesskabet Jordnær"/>

<header>
  <h1>Jordnær - Servicevilkår</h1>
</header>
<main>
  <h2>1. Accept af vilkår</h2>
  <p>Ved at bruge Jordnær accepterer du disse servicevilkår. Hvis du ikke accepterer disse vilkår, bedes du ikke bruge vores tjenester.</p>

  <h2>2. Tjenester</h2>
  <p>Vi leverer en platform hvor forældre kan oprette forbindelser og arrangere sociale aktiviteter for deres børn, såsom legeaftaler og hjemmeskoleaktiviteter. Vi er ikke ansvarlige for de enkelte aktiviteter eller grupper og kan ikke garantere deres kvalitet eller sikkerhed.</p>

  <h2>3. Brugeradfærd</h2>
  <p>Du accepterer at bruge vores tjenester på en ansvarlig og lovlig måde. Du må ikke chikanere, true eller diskriminere andre brugere eller opfordre til ulovlige aktiviteter.</p>

  <h2>4. Ændringer i vilkår</h2>
  <p>Vi forbeholder os ret til at ændre disse servicevilkår når som helst. Hvis vi foretager væsentlige ændringer, vil vi give dig besked på vores hjemmeside.</p>
</main>
