name: Deploy Container (Azure Web Apps for Containers)

on:
  push:
    tags:
      - "release-website-container-v*.*.*"
  workflow_dispatch:

env:
  TESTS_DIRECTORY: tests/web/Jordnaer.Tests
  REGISTRY: ghcr.io
  IMAGE_NAME: nielspilgaard/minimoeder-website
  AZURE_WEBAPP_NAME: mini-moeder
  AZURE_RESOURCE_GROUP: Jordnaer

jobs:
  test-build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.x"

      - name: Restore
        run: dotnet restore "${{ env.TESTS_DIRECTORY }}"

      - name: Build
        run: dotnet build "${{ env.TESTS_DIRECTORY }}" --configuration Release --no-restore -p:InformationalVersion=${{ github.ref_name }}

      - name: Test
        run: >
          dotnet test "${{ env.TESTS_DIRECTORY }}"
          --configuration Release
          --no-build
          --logger "GitHubActions;summary.includePassedTests=true;summary.includeSkippedTests=true"
          --filter Category!=SkipInCi
          -p:InformationalVersion=${{ github.ref_name }}

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=tag
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,value=production

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App for Containers
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:production

      - name: Create Deployment on elmah.io
        uses: elmahio/github-create-deployment-action@v1
        with:
          apiKey: ${{ secrets.ELMAH_IO_API_KEY }}
          version: ${{ github.ref_name }}
          logId: ${{ secrets.ELMAH_IO_LOG_ID }}
          userName: ${{ github.actor }}
          description: ${{ github.event.head_commit.message || format('Release {0}', github.ref_name) }}
