name: Deploy Website

on:
  push:
    tags:
      - "release-website-v*.*.*"
  workflow_dispatch:

env:
  AZURE_WEBAPP_PACKAGE_PATH: src/web/Jordnaer/publish
  TESTS_DIRECTORY: tests/web/Jordnaer.Tests
  AZURE_WEBAPP_NAME: jordnaer/staging
  WORKING_DIRECTORY: src/web/Jordnaer
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.x"

      - name: Restore Nugets
        run: dotnet restore "${{ env.WORKING_DIRECTORY }}"

      - name: Build
        run: dotnet build "${{ env.WORKING_DIRECTORY }}" --configuration Release --no-restore

      - name: Test
        run: >
          dotnet test "${{ env.TESTS_DIRECTORY }}" 
          --logger "GitHubActions;summary.includePassedTests=true;summary.includeSkippedTests=true" 
          --filter Category!=ManualTest
        env:
          ConnectionStrings:AzureServiceBus: ${{ secrets.AZURE_SERVICE_BUS_CONNECTION_STRING }}

      - name: Publish
        run: dotnet publish "${{ env.WORKING_DIRECTORY }}" -c Release --no-build --output "${{ env.AZURE_WEBAPP_PACKAGE_PATH }}"

      - name: Deploy to Azure App Service
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          package: "${{ env.AZURE_WEBAPP_PACKAGE_PATH }}"
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE}}
          slot-name: staging

      - name: Create Deployment on elmah.io
        uses: elmahio/github-create-deployment-action@v1
        with:
          apiKey: ${{ secrets.ELMAH_IO_API_KEY }}
          version: ${{ github.ref_name }}
          logId: ${{ secrets.ELMAH_IO_LOG_ID }}
          userName: ${{ github.actor }}
          description: ${{ github.event.head_commit.message }}
