@page "/privacy"

<MetadataComponent Title="Mini Møder - Privatlivspolitik"
                   Description="Privatlivspolitik for Fællesskabet Mini Møder" />
<header>
    <h1>Mini Møder - Privatlivspolitik</h1>
</header>
<main>
  <h2>1. Introduktion</h2>
    <p>Velkommen til Mini Møder. Vi er forpligtet til at beskytte dit privatliv og dine personlige oplysninger. Denne privatlivspolitik beskriver, hvordan vi indsamler, bruger, beskytter og deler dine personlige oplysninger, når du bruger vores tjenester.</p>

  <h2>2. Dataindsamling og anvendelse</h2>
  <p>For at kunne levere vores tjenester indsamler vi forskellige typer af personlige oplysninger, herunder dit navn, e-mailadresse, kontaktoplysninger og eventuelle oplysninger om dine børn. Vi bruger disse oplysninger til at forbinde dig med andre forældre og arrangere sociale aktiviteter for børnene.</p>

  <h2>3. Deling af data</h2>
  <p>Vi deler ikke dine personlige oplysninger med tredjeparter, medmindre det er nødvendigt for at levere vores tjenester eller som krævet af loven.</p>

  <h2>4. Datasikkerhed</h2>
  <p>Vi tager din datasikkerhed alvorligt og træffer passende foranstaltninger for at beskytte dine personlige oplysninger mod uautoriseret adgang, ændring, videregivelse eller ødelæggelse.</p>

  <h2>5. Ændringer i privatlivspolitikken</h2>
  <p>Vi kan opdatere vores privatlivspolitik fra tid til anden. Vi vil informere dig om eventuelle væsentlige ændringer ved at sende en meddelelse på vores hjemmeside.</p>
</main>
